html{
    height:100%;
    overflow: hidden;
    -moz-user-select: none;
}

body{
    height:100%;
}

#LeftBox{
    width:30%;
    height:100%;
    float:left;
    text-align:center;
    background-color:#2F4F4F;
}

#playmenu {
    z-index: 99;
    top: 15%;
    left: -8%;
    min-width: 200px;
    list-style: none;
    display: inline-block;
    font-family: fantasy;
    font-size: 30px;
    position: relative;
}

#playmenu li {
    border-bottom: #2F4F4F 30px solid;
    float: top;
}

#playmenu > li:last-child {
    border-bottom: none;
    border-right: none;
}

#playmenu a {
    background-color: #ffffff;
    color: #333333;
    display: block;
    text-decoration: none;
    line-height: 60px;
    text-align: center;
}

#playmenu a:hover {
    background-color: #ef5c28;
    color: #ffffff;
    cursor: pointer;
}

#RightBox{
    width:70%;
    height:100%;
    float:left;
    background-color:#ffff00;
    text-align:left;
}

#timeshower{
    text-align:center;
    font-size:50px;
    font-weight:bold;
    color:#00BFFF;
    text-decoration: none;
    position: fixed;
    margin: 0px 0px 0px 100px;
}

.card {
    width: 10vw;
    height: 10vw;
    text-align:center;
    background-color: #0000ff;
    background-image: url( 'https://scontent.ftpe10-1.fna.fbcdn.net/v/t1.0-9/26230279_682090535457482_8516433266350110476_n.jpg?oh=8d500008a72049222442c243257a61a6&oe=5B448942' );
    background-size: 100%;
    position: absolute;
    margin: 15vh 0px 0px 6vw;
}

.introduction{
    z-index:100;
    position: absolute;
    background-color: #ffffff;
    width: 80vw;
    height: 80vh;
    text-align: left;
    margin: 10vh 0px 0px 75vw;
}

.quit{
    z-index:100;
    position: absolute;
    background-color: #00ffff;
    background-image: url("image/arrow.jpg");
    background-size: 100%;
    width: 1cm;
    height: 1cm;
    text-align:center;
    margin: 0vh 0px 0px 0vw;
}

.pic{
    z-index:100;
    position: absolute;
    background-color: #ffffff;
    background-size: 100%;
    background-repeat: no-repeat;
    width: 40%;
    height: 80%;
    text-align:center;
    margin: 7% 0px 0px 6%;
}

.introcontent{
    padding-left: 55%;
    font-size: 25px;
}

#cover{
    z-index=9999;
}
